<main>
    <section class="form my-5 mx-5">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-5">
                    <img src="https://i.picsum.photos/id/20/3670/2462.jpg?hmac=CmQ0ln-k5ZqkdtLvVO23LjVAEabZQx2wOaT4pyeG10I"
                        class="img-fluid" alt="">
                </div>
                <div class="col-lg-7 px-5 pt-5 my-1" id="pw-box">
                    <h1>Forgot Password</h1>
                    <h6 class="mb-2 mt-4">

                        Here you can reset your forgotten password
                        and/or unlock your account.</h6>
                    <h6 class="mb-2" style="color: royalblue !important;">
                        Enter Valid Email address and click on Reset Password.</h6>

                    <form>
                        <div class="form-row">
                            <div class="col-lg-9">
                                <input type="email" placeholder="E-mail" class="form-control mt-2 p-4" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-9">
                                <button type="button" class="btn1 mt-3">Reset Password</button>
                            </div>
                        </div>
                    </form>
                    <p class="mt-3" style="font-size: 18px;">Not an Account?
                        <a href="">Register Here</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>